/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require_tree .
 *= require_self
 */

.full-card {
    width: 100% !important;
}

.min-card {
    min-height: 0 !important;
}

.lesser-icon {
    font-size: 18px !important;
    line-height: 18px !important;
    width: 18px !important;
    transform: translate(-9px,-9px) !important;
    color: rgba(0,0,0,0.3);
}

.lesser-icon:hover {
    color: #757575;
}

.mdl-grid .mdl-grid {
    padding: 0 !important;
    margin: 0 -8px !important;
}

.centered {
    text-align: center;
}

.green .mdl-card__title {
    background-color: #81c784;
}

.orange .mdl-card__title {
    background-color: #ffca28;
}

.mdl-list__item {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 30px;
}

.mdl-list__item.selected {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mdl-list__item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
