.login-card {
    margin: 50px auto;
}

#error_explanation h2 {
    font-size: 20px !important;
}

body.signed-out {
    background-color: rgb(139,195,74);
    overflow: hidden;
}

body.signed-out h1 {
    color: rgb(66,66,66);
}

body.signed-out .mdl-card > .mdl-card__title {
    background-color: #ffca28;
}

.login-title {
    text-shadow: 3px 3px 2px #bd9312;
    color: #ffca28 !important;
    letter-spacing: 14px;
    font-size: 50px !important;
}

.orange-strip-1 {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 2000px;
    height: 100px;
    background-color: #ffca28;
    transform: rotate(-45deg);
    box-shadow: inset 0 0 10px #000000;
}

.orange-strip-2 {
    position: absolute;
    left: -73%;
    top: 0%;
    width: 2000px;
    height: 100px;
    background-color: #ffca28;
    transform: rotate(65deg);
    box-shadow: inset 0 0 10px #000000;
}
