// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-date {
    float: right;
    color: #bbb
}

.transaction-switch {
    float: right !important;
    margin: 15px !important;
    width: 0px !important;
}
